<!doctype html>


<html lang="en">
<head>
    <meta charset="utf-8">
    <title>FoodWasteTracker</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="favicon.ico" />
    <link href="https://fonts.googleapis.com/css?family=Arvo|Roboto" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="main.css">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script>

    $( function() {

        var added={};

        var added_json={};

        var selected = false; 

        $("#pic0").click(function(){
            $("#tags").val(image_map[$("#pic0").attr('src')]);
            selected = true;
        });
        $("#pic1").click(function(){
            $("#tags").val(image_map[$("#pic1").attr('src')]);
            selected = true;
        });
        $("#pic2").click(function(){
            $("#tags").val(image_map[$("#pic2").attr('src')]);
            selected = true;
        });
        $("#pic3").click(function(){
            $("#tags").val(image_map[$("#pic3").attr('src')]);
            selected = true;
        });
        $("#pic4").click(function(){
            $("#tags").val(image_map[$("#pic4").attr('src')]);
            selected = true;
        });
        $("#pic5").click(function(){
            $("#tags").val(image_map[$("#pic5").attr('src')]);
            selected = true;
        });
        $("#pic6").click(function(){
            $("#tags").val(image_map[$("#pic6").attr('src')]);
            selected = true;
        });
        $("#pic7").click(function(){
            $("#tags").val(image_map[$("#pic7").attr('src')]);
            selected = true;
        });

        var fooditems = [
            "Fresh/Frozen fruit",
            "Canned Fruit",
            "Fruit Juice",
            "Fresh/Frozen dark green vegetables",
            "Canned dark green vegetables",
            "Fresh/Frozen orange vegetables",
            "Canned orange vegetables",
            "Fresh/Frozen starchy vegetables",
            "Canned starchy vegetables",
            "Fresh/Frozen select nutrient vegetables",
            "Canned select nutrients",
            "Fresh/Frozen other vegetables",
            "Canned other vegetables",
            "Frozen/Dried Legumes",
            "Canned Legumes",
            "Whole grain bread, rolls, rice, pasta, cereal",
            "Whole grain flour and mixes",
            "Whole grain frozen/ready to cook",
            "other bread, rolls, rice, pasta, cereal",
            "other flour and mixes",
            "other frozen/ready to cook grains",
            "Low fat milk",
            "Low fat cheese",
            "Low fat yogurt & other dairy",
            "Regular fat milk",
            "Regular fat cheese",
            "Regular fat yogurt & other dairy",
            "Fresh/frozen low fat meat",
            "Fresh/frozen regular fat meat",
            "Canned meat",
            "Fresh/frozen poultry",
            "Canned poultry",
            "Fresh/frozen fish",
            "Canned fish",
            "Raw nuts and seeds",
            "Processed nuts, seeds and nut butters",
            "Eggs",
            "Oils",
            "Solid fats",
            "Raw sugars",
            "Non-alcoholic carbonated beverages",
            "Non-carbonated caloric beverages",
            "Water",
            "Ice cream and frozen desserts",
            "Baked good mixes",
            "Packaged sweets/baked goods",
            "Bakery items, ready to eat",
            "Frozen entrees and sides",
            "Canned soups, sauces, prepared foods",
            "Packaged snacks",
            "Ready to cook meals and sides",
            "Ready to eat deli items (hot and cold)"
            ];

        var foodpics = {
            "Fresh/Frozen fruit":"https://www.azurestandard.com/healthy-living/wp-content/uploads/2015/08/frozen-fruit-raspberries-blackberries-e1440786210865.jpg",
            "Canned Fruit":"http://img.foodnetwork.com/FOOD/2013/10/03/HE_canned-fruit-thinkstock_s4x3_lg.jpg",
            "Fruit Juice":"http://delitefulmeals.com/wp-content/uploads/2016/04/juice.jpg",
            "Fresh/Frozen dark green vegetables":"http://simplegreensmoothies.com/wp-content/uploads/2015/06/LeafyGreens_560Logo.jpg",
            "Canned dark green vegetables":"http://canigivemybaby.com/wp-content/uploads/2011/11/can-i-give-my-baby-canned-vegetables.jpg",
            "Fresh/Frozen orange vegetables":"http://www.almanac.com/sites/default/files/styles/primary_image_in_article/public/images/carrots.jpg?itok=_nIMWR5y",
            "Canned orange vegetables":"https://www.delmonte.com/sites/default/files/carsl14.5oz_16299_cweb.png",
            "Fresh/Frozen starchy vegetables":"http://farmcareltd.com/wp-content/themes/farmcare/_assets/img/what-we-do/potato.png",
            "Canned starchy vegetables":"http://minutegrocery.com/ibuygroceries/images/sliced_potatoes.jpg",
            "Fresh/Frozen select nutrient vegetables":"http://masalamommas.com/wp-content/uploads/2016/06/vegetables-1403046-1-400x267.jpg",
            "Canned select nutrients":"https://cimg3.ibsrv.net/cimg/www.fitday.com/693x350_100-1/975/canned-20vegetables_000021349948_Small-106975.jpg",
            "Fresh/Frozen other vegetables":"http://img.webmd.com/dtmcms/live/webmd/consumer_assets/site_images/articles/health_tools/12_powerhouse_vegetables_slideshow/intro_cream_of_crop.jpg",
            "Canned other vegetables":"http://arkangelfarm.typepad.com/.a/6a012876705738970c0133f4ab9c2e970b-pi",
            "Frozen/Dried Legumes":"http://www.rd.com/wp-content/uploads/sites/2/2014/02/05-beans-fight-cancer-sl.jpg",
            "Canned Legumes":"http://www.bushbeans.com/sites/default/files/product-shelf/product-landing-hero-culinary_0-2.png",
            "Whole grain bread, rolls, rice, pasta, cereal":"http://www.thefresh20.com/wp-content/uploads/2013/11/pasta.jpg",
            "Whole grain flour and mixes":"http://www.crumblycookie.net/wp-content/uploads/2010/03/Copy-of-IMG_4316.jpg",
            "Whole grain frozen/ready to cook":"http://ghk.h-cdn.co/assets/cm/15/11/54fed84c988c3-whole-grain-waffles-365-xl.jpg",
            "other bread, rolls, rice, pasta, cereal":"http://files.recipetips.com/kitchen/images/refimages/bread/types/Italian_bread_500.jpg",
            "other flour and mixes":"http://www.onepagenews.com/wp-content/uploads/2011/11/BEC1FAD6A91F8A3A53DE87A9CF0C3-300x199.jpg",
            "other frozen/ready to cook grains":"https://www.pillsbury.com/-/media/Temp/grands-buttery-crescents.jpg?h=282&la=en&mh=320&mw=500&w=500",
            "Low fat milk":"http://gomart.pk/image/data/incoming/images/lacnor-low-fat-milk-1ltr-gomart-pakistan-3209.jpg",
            "Low fat cheese":"https://2rdnmg1qbg403gumla1v9i2h-wpengine.netdna-ssl.com/wp-content/uploads/sites/3/2013/02/Various-cheeses.jpg",
            "Low fat yogurt & other dairy":"https://www.karouncheese.com/images/products/65_tn330_KAROUN-yogurt-lowfat-2.jpg",
            "Regular fat milk":"http://cdn2.stylecraze.com/wp-content/uploads/2016/06/Benefits-Of-Cow-Milk-According-To-Ayurveda.jpg",
            "Regular fat cheese":"http://www.eatwisconsincheese.com/EatWisconsinCheese/media/content/hero%20images/hero-cheese.png",
            "Regular fat yogurt & other dairy":"http://www.finecooking.com/assets/uploads/posts/5417/ING-heavy-cream_sql.jpg",
            "Fresh/frozen low fat meat":"http://images.wisegeek.com/sliced-pork.jpg",
            "Fresh/frozen regular fat meat":"http://jbssa.com/images/our-business/beef/cutout-beef.jpg",
            "Canned meat":"http://c.shld.net/rpx/i/s/i/spin/10127449/prod_ec_1575300602??hei=64&wid=64&qlt=50",
            "Fresh/frozen poultry":"http://2.bp.blogspot.com/-WTC-2QfGjiE/UdI1SPTQ4UI/AAAAAAAAAWY/DZJBG8M8xhU/s1042/Broiler+Poultry.jpg",
            "Canned poultry":"http://www.bumblebee.com/wp-content/uploads/products/bumble-bee-premium-chicken-breast-in-water.jpg?x78623",
            "Fresh/frozen fish":"http://www.1zoom.me/big2/555/325559-svetik.jpg",
            "Canned fish":"https://lh4.googleusercontent.com/-Hq-WqWZ89pc/VN049gapEcI/AAAAAAAAiHA/QzkPeAqW34Y/w578-h497-no/file.jpg",
            "Raw nuts and seeds":"http://az616578.vo.msecnd.net/files/2016/05/16/635990176584155393-2085841053_nuts.jpg",
            "Processed nuts, seeds and nut butters":"https://www.bodybuilding.com/images/2016/june/is-peanut-butter-healthy-header-v2-830x467.jpg",
            "Eggs":"https://cdn.authoritynutrition.com/wp-content/uploads/2013/01/egg.jpg",
            "Oils":"http://www.medicalnewstoday.com/content/images/articles/266/266258/olive-oil-and-olives.jpg",
            "Solid fats":"http://primalblissnutrition.com/wp-content/uploads/2013/01/butter1.jpg",
            "Raw sugars":"http://www.rd.com/wp-content/uploads/sites/2/2016/04/01-too-much-sugar-opener.jpg",
            "Non-alcoholic carbonated beverages":"http://cdn.phillymag.com/wp-content/uploads/sites/3/2016/06/soda-tax-philadelphia-940x540.jpg",
            "Non-carbonated caloric beverages":"http://www.coca-colacompany.com/content/dam/journey/us/en/private/2010/01/hi-c-juice-box-bfff630a.jpg",
            "Water":"http://www.thevailvoice.com/wordpress/wp-content/uploads/2017/01/app-water-treatment-and-disinfection_Header_1.jpg",
            "Ice cream and frozen desserts":"https://www-tc.pbs.org/food/files/2012/07/History-of-Ice-Cream-1.jpg",
            "Baked good mixes":"https://thumb1.shutterstock.com/display_pic_with_logo/2187368/196636937/stock-photo-a-collection-of-savory-and-sweet-baked-goods-on-an-isolated-white-background-196636937.jpg",
            "Packaged sweets/baked goods":"http://images.mdlzapps.com/NA/images/ocpimages/44000/large/03219CF.JPG",
            "Bakery items, ready to eat":"http://www.riverviewfarmersmarket.org/wp-content/uploads/2014/09/unnamed-2.jpg",
            "Frozen entrees and sides":"http://ghk.h-cdn.co/assets/cm/15/12/5508e9c45049f-0212-market-pantry-thin-cut-fries-xl.jpg",
            "Canned soups, sauces, prepared foods":"http://i.huffpost.com/gen/1010455/images/h-BEST-CANNED-CHICKEN-NOODLE-SOUP-640x362.jpg",
            "Packaged snacks":"https://lazygirlvegan.files.wordpress.com/2015/05/feb.jpg",
            "Ready to cook meals and sides":"http://www.hellawella.com/sites/hellawella.com/files/styles/default/public/field/image/Eats_FrozenFoodFeatured.jpg?itok=JXitt7Du",
            "Ready to eat deli items (hot and cold)":"http://finefooddude.com/wp-content/uploads/2014/08/IMG_4226.jpg"
        };

        var image_map = {
            "https://www.azurestandard.com/healthy-living/wp-content/uploads/2015/08/frozen-fruit-raspberries-blackberries-e1440786210865.jpg":"Fresh/Frozen fruit",
            "http://img.foodnetwork.com/FOOD/2013/10/03/HE_canned-fruit-thinkstock_s4x3_lg.jpg":"Canned Fruit",
            "http://delitefulmeals.com/wp-content/uploads/2016/04/juice.jpg":"Fruit Juice",
            "http://simplegreensmoothies.com/wp-content/uploads/2015/06/LeafyGreens_560Logo.jpg":"Fresh/Frozen dark green vegetables",
            "http://canigivemybaby.com/wp-content/uploads/2011/11/can-i-give-my-baby-canned-vegetables.jpg":"Canned dark green vegetables",
            "http://www.almanac.com/sites/default/files/styles/primary_image_in_article/public/images/carrots.jpg?itok=_nIMWR5y":"Fresh/Frozen orange vegetables",
            "https://www.delmonte.com/sites/default/files/carsl14.5oz_16299_cweb.png":"Canned orange vegetables",
            "http://farmcareltd.com/wp-content/themes/farmcare/_assets/img/what-we-do/potato.png":"Fresh/Frozen starchy vegetables",
            "http://minutegrocery.com/ibuygroceries/images/sliced_potatoes.jpg":"Canned starchy vegetables",
            "http://masalamommas.com/wp-content/uploads/2016/06/vegetables-1403046-1-400x267.jpg":"Fresh/Frozen select nutrient vegetables",
            "https://cimg3.ibsrv.net/cimg/www.fitday.com/693x350_100-1/975/canned-20vegetables_000021349948_Small-106975.jpg":"Canned select nutrients",
            "http://img.webmd.com/dtmcms/live/webmd/consumer_assets/site_images/articles/health_tools/12_powerhouse_vegetables_slideshow/intro_cream_of_crop.jpg":"Fresh/Frozen other vegetables",
            "http://arkangelfarm.typepad.com/.a/6a012876705738970c0133f4ab9c2e970b-pi":"Canned other vegetables",
            "http://www.rd.com/wp-content/uploads/sites/2/2014/02/05-beans-fight-cancer-sl.jpg":"Frozen/Dried Legumes",
            "http://www.bushbeans.com/sites/default/files/product-shelf/product-landing-hero-culinary_0-2.png":"Canned Legumes",
            "http://www.thefresh20.com/wp-content/uploads/2013/11/pasta.jpg":"Whole grain bread, rolls, rice, pasta, cereal",
            "http://www.crumblycookie.net/wp-content/uploads/2010/03/Copy-of-IMG_4316.jpg":"Whole grain flour and mixes",
            "http://ghk.h-cdn.co/assets/cm/15/11/54fed84c988c3-whole-grain-waffles-365-xl.jpg":"Whole grain frozen/ready to cook",
            "http://files.recipetips.com/kitchen/images/refimages/bread/types/Italian_bread_500.jpg":"other bread, rolls, rice, pasta, cereal",
            "http://www.onepagenews.com/wp-content/uploads/2011/11/BEC1FAD6A91F8A3A53DE87A9CF0C3-300x199.jpg":"other flour and mixes",
            "https://www.pillsbury.com/-/media/Temp/grands-buttery-crescents.jpg?h=282&la=en&mh=320&mw=500&w=500":"other frozen/ready to cook grains",
            "http://gomart.pk/image/data/incoming/images/lacnor-low-fat-milk-1ltr-gomart-pakistan-3209.jpg":"Low fat milk",
            "https://2rdnmg1qbg403gumla1v9i2h-wpengine.netdna-ssl.com/wp-content/uploads/sites/3/2013/02/Various-cheeses.jpg":"Low fat cheese",
            "https://www.karouncheese.com/images/products/65_tn330_KAROUN-yogurt-lowfat-2.jpg":"Low fat yogurt & other dairy",
            "http://cdn2.stylecraze.com/wp-content/uploads/2016/06/Benefits-Of-Cow-Milk-According-To-Ayurveda.jpg":"Regular fat milk",
            "http://www.eatwisconsincheese.com/EatWisconsinCheese/media/content/hero%20images/hero-cheese.png":"Regular fat cheese",
            "http://www.finecooking.com/assets/uploads/posts/5417/ING-heavy-cream_sql.jpg":"Regular fat yogurt & other dairy",
            "http://images.wisegeek.com/sliced-pork.jpg":"Fresh/frozen low fat meat",
            "http://jbssa.com/images/our-business/beef/cutout-beef.jpg":"Fresh/frozen regular fat meat",
            "http://c.shld.net/rpx/i/s/i/spin/10127449/prod_ec_1575300602??hei=64&wid=64&qlt=50":"Canned meat",
            "http://2.bp.blogspot.com/-WTC-2QfGjiE/UdI1SPTQ4UI/AAAAAAAAAWY/DZJBG8M8xhU/s1042/Broiler+Poultry.jpg":"Fresh/frozen poultry",
            "http://www.bumblebee.com/wp-content/uploads/products/bumble-bee-premium-chicken-breast-in-water.jpg?x78623":"Canned poultry",
            "http://www.1zoom.me/big2/555/325559-svetik.jpg":"Fresh/frozen fish",
            "https://lh4.googleusercontent.com/-Hq-WqWZ89pc/VN049gapEcI/AAAAAAAAiHA/QzkPeAqW34Y/w578-h497-no/file.jpg":"Canned fish",
            "http://az616578.vo.msecnd.net/files/2016/05/16/635990176584155393-2085841053_nuts.jpg":"Raw nuts and seeds",
            "https://www.bodybuilding.com/images/2016/june/is-peanut-butter-healthy-header-v2-830x467.jpg":"Processed nuts, seeds and nut butters",
            "https://cdn.authoritynutrition.com/wp-content/uploads/2013/01/egg.jpg":"Eggs",
            "http://www.medicalnewstoday.com/content/images/articles/266/266258/olive-oil-and-olives.jpg":"Oils",
            "http://primalblissnutrition.com/wp-content/uploads/2013/01/butter1.jpg":"Solid fats",
            "http://www.rd.com/wp-content/uploads/sites/2/2016/04/01-too-much-sugar-opener.jpg":"Raw sugars",
            "http://cdn.phillymag.com/wp-content/uploads/sites/3/2016/06/soda-tax-philadelphia-940x540.jpg":"Non-alcoholic carbonated beverages",
            "http://www.coca-colacompany.com/content/dam/journey/us/en/private/2010/01/hi-c-juice-box-bfff630a.jpg":"Non-carbonated caloric beverages",
            "http://www.thevailvoice.com/wordpress/wp-content/uploads/2017/01/app-water-treatment-and-disinfection_Header_1.jpg":"Water",
            "https://www-tc.pbs.org/food/files/2012/07/History-of-Ice-Cream-1.jpg":"Ice cream and frozen desserts",
            "https://thumb1.shutterstock.com/display_pic_with_logo/2187368/196636937/stock-photo-a-collection-of-savory-and-sweet-baked-goods-on-an-isolated-white-background-196636937.jpg":"Baked good mixes",
            "http://images.mdlzapps.com/NA/images/ocpimages/44000/large/03219CF.JPG":"Packaged sweets/baked goods",
            "http://www.riverviewfarmersmarket.org/wp-content/uploads/2014/09/unnamed-2.jpg":"Bakery items, ready to eat",
            "http://ghk.h-cdn.co/assets/cm/15/12/5508e9c45049f-0212-market-pantry-thin-cut-fries-xl.jpg":"Frozen entrees and sides",
            "http://i.huffpost.com/gen/1010455/images/h-BEST-CANNED-CHICKEN-NOODLE-SOUP-640x362.jpg":"Canned soups, sauces, prepared foods",
            "https://lazygirlvegan.files.wordpress.com/2015/05/feb.jpg":"Packaged snacks",
            "http://www.hellawella.com/sites/hellawella.com/files/styles/default/public/field/image/Eats_FrozenFoodFeatured.jpg?itok=JXitt7Du":"Ready to cook meals and sides",
            "http://finefooddude.com/wp-content/uploads/2014/08/IMG_4226.jpg":"Ready to eat deli items (hot and cold)"
        };

        $( "#tags" ).autocomplete({
            source: function(request, response) {
                    var results = $.ui.autocomplete.filter(fooditems, request.term);
                    results = results.slice(0, 8);
                    response(results);
                    var n = results.length;
                    for (var i = 0; i < 8; i++) {
                        if(i < n)
                        {
                            var img = foodpics[results[i]];
                            var imgHolder = "#pic" + i;
                            $(imgHolder).attr("src", img);
                        }
                        else // fill with blank
                        {
                            var imgHolder = "#pic" + i;
                            $(imgHolder).attr("src", "http://kingofwallpapers.com/blank/blank-003.jpg");
                        } 
                    }
                },  
            select: function(event, ui) {
                    selected = true;
                    // var db_index = fooditems.indexOf(ui.item.label) + 1;
                    // $("#foodGroup").val(db_index);
                    // $("#foodGroup").text(db_index);
            }
        });

        $("#add").click(function() {
            // Do a check first off to make sure that that is a valid category
            if(selected)
            {
                $("#added").text("");
                selected = false;
                added[$( "#tags" ).val()] = $( "#grams" ).val();
                var db_index = fooditems.indexOf($("#tags").val()) + 1;
                added_json[db_index] = $( "#grams" ).val();

                Object.keys(added).forEach(function(key) {
                    value = added[key];
                    $("#added").append(key + " : " + value + "g<br>");

                });
                $("#foodGroup").val(JSON.stringify(added_json));
                $("#foodGroup").text(JSON.stringify(added_json));
            }
            else
            {
                alert("Please select a valid category first");
            }
        });


        // send the json via POST
        $("#submit").click(function(){

        });

    } );

    

    </script>
</head>
<body>
 
<div class="container" style="padding-top: 30px;background: #2f323d">
    <a class="logo" href="#"><img src="wastelogo.svg" alt="Foodwaster" width="250"></a>
    <ul class="nav nav-tabs">
            <li role="presentation" class="active"><a href="#">Home</a></li>
            <li role="presentation"><a href="#">About</a></li>
            <li role="presentation"><a href="#">Sources</a></li>
    </ul>

    <!-- MAIN BODY -->
    <div class="main">
        <div class="row">
            <div class="col-xs-10 col-xs-offset-1">
                <h2 class="arvo blue-callout" style="margin: 30px 0px;">
                    <strong>CALCULATE YOUR FOOD WASTE IMPACT</strong>
                </h2>
                <p>To get started, remember the food you threw away yesterday. Now type it in the Food Group input and select your food from either the dropdown or the images below. Enter the amount (it's okay to estimate!) and click submit once you've added up your waste.</p>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-xs-5 col-xs-offset-1">
                <form action = "/search" method = "GET">
                    <div class="form-group">
                        <label for="tags" class="arvo">Food Group</label>
                        <input type="text" class="form-control" id="tags">
                    </div>
                    <div class="form-group">
                        <label for="grams" class="arvo">Mass in grams</label>
                        <input type="text" class="form-control" id="grams">
                    </div>
                    <input type="hidden" id="foodGroup" name="foodGroup" style="visibility:hidden">
                    <button class="btn btn-lg btn-default arvo" type="button" id="add">ADD FOOD</button>
                    <button class="btn btn-lg btn-success arvo" type="submit">CALCULATE RESULTS</button>
                </form>
            </div>
            <div class="col-xs-5 foodlist">
                <h4 class="arvo text-center">Your Wasted Food Yesterday</h4>
                <p id="added" align="center"></p>
            </div>
        </div>
        <br><br>
        <div class="row">
            <div class="col-xs-10 col-xs-offset-1">
                <div class="row">
                    <img class="foodpics col-sm-3" id="pic0" src="http://kingofwallpapers.com/blank/blank-003.jpg">
                    <img class="foodpics col-sm-3" id="pic1" src="http://kingofwallpapers.com/blank/blank-003.jpg"> 
                    <img class="foodpics col-sm-3" id="pic2" src="http://kingofwallpapers.com/blank/blank-003.jpg">
                    <img class="foodpics col-sm-3" id="pic3" src="http://kingofwallpapers.com/blank/blank-003.jpg">
                </div>
                <br>
                <div class="row">  
                    <img class="foodpics col-sm-3" id="pic4" src="http://kingofwallpapers.com/blank/blank-003.jpg">
                    <img class="foodpics col-sm-3" id="pic5" src="http://kingofwallpapers.com/blank/blank-003.jpg"> 
                    <img class="foodpics col-sm-3" id="pic6" src="http://kingofwallpapers.com/blank/blank-003.jpg">
                    <img class="foodpics col-sm-3" id="pic7" src="http://kingofwallpapers.com/blank/blank-003.jpg">
                </div>
            </div>
         </div>
    </div>

    <!-- FOOTER -->
    <div class="footer">
        <p class="text-center">by Andrew, Alan, Michael, Divya, and James</p>
    </div>
</body>

</html>
